.btn-default,
.btn-default:hover,
.btn-default:focus {
 color: #333;
 text-shadow: none; /* Prevent inheritence from `body` */
 background-color: #fff;
 border: 1px solid #fff;
}

.btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}