hr {
  width: 70%;
}

.wrapper2 {
  background-color: #504b43;
  width: 100%;
}

.row {
  padding: 40px;
  margin-right: 0px;
  margin-left: 0px;
}

.card-title {
  text-align: center;
}

.push-down {
  margin-top: 10%;
}
