.wrapper {
    display: table;
    height: 600px;
    width: 100%;
}

.wrapper-inner {
    vertical-align: middle;
    display: table-cell;
}

.content {
    text-align: center;
    color: #fff;
    margin-top: 200px;
}